/******************************************************************************/
/*
/* File: @/assets/styles/fleet-colors.css
/* 
/* See Also: 
/* - @data/colors.txt - Cut/paste for variables
/* - fleet.css - Sourced From
/*      
/* - Variables
/* - Colors
/*   - Containers
/*   - Code Blocks
/*   - Text
/*   - Text Links
/*   - Icon Links
/*
/******************************************************************************/

/******************************************************************************/
/*
/* Variables
/*
/******************************************************************************/
@layer base {
    :root {
        --accent-light: #0ea5e9; /* sky-500 */ 
        --accent-dark: #0ea5e9; /* sky-500 */ 
        --primary-light: #f97316; /* orange-500 */
        --primary-dark: #f97316; /* orange-500 */
        --text-light: black; 
        --text-dark: #cbd5e1; /* gray-300 */ 
        --text-dimmed-light: #64748b; /* slate-500 */
        --text-dimmed-dark: #64748b; /* slate-500 */ 

        --body-bg-light: #cbd5e1; /* slate-300 */
        --body-bg-dark: #020617; /* gray-950 */

        --midships-light: white;
        --midships-dark: #0f172a; /* gray-900 */
        --midships-ring-light: white;
        --midships-ring-dark: #020617; /* gray-950 */

        --debug-text-light: #f97316; /* orange-500 */
        --debug-text-dark: #f97316; /* orange-500 */
    }
}

/******************************************************************************/
/*
/* Containers
/*
/******************************************************************************/
body { @apply bg-[--body-bg-light] dark:bg-[--body-bg-dark]; }
#midships { @apply bg-[--midships-light] dark:bg-[--midships-dark]
    rounded-lg; }
#navi, #main-menu { @apply
    bg-[--body-bg-light] dark:bg-[--body-bg-dark]
    rounded-lg; }
.gunnel { @apply bg-[--body-bg-light] dark:bg-[--body-bg-dark]; }
/******************************************************************************/
/*
/* Text 
/*
/******************************************************************************/
p { @apply text-[--text-light] dark:text-[--text-dark]; }
p#transom { @apply text-[--text-dimmed-light] dark:text-[--text-dimmed-dark]; }
p.dimmed { @apply text-[--text-dimmed-light] dark:text-[--text-dimmed-dark]; }
h1, title { @apply text-[--accent-light] dark:text-[--accent-dark]; }
h2, h2, h4 { @apply text-[--primary-light] dark:text-[--primary-dark]; }
/******************************************************************************/
/*
/* Text Links 
/*
/******************************************************************************/
a { @apply text-[--primary-light] dark:text-[--primary-dark]; }
a:hover, a:active, a:focus { @apply text-current dark:text-current font-bold; } 
/******************************************************************************/
/*
/* Icon Links 
/*
/******************************************************************************/
svg { @apply stroke-[--primary-light] dark:stroke-[--primary-dark] stroke-2; }
svg:hover, svg:active, svg:focus { @apply stroke-current dark:stroke-current stroke-2; } 
