/******************************************************************************/
/*
/* File: @/assets/styles/fleet-colors.css
/* 
/* See Also: 
/* - @data/colors.txt - Cut/paste for variables
/* - fleet.css - Sourced From
/*      
/* - Variables
/* - Colors
/*   - Containers
/*   - Code Blocks
/*   - Text
/*   - Text Links
/*   - Icon Links
/*
/******************************************************************************/

/******************************************************************************/
/*
/* Variables
/*
/******************************************************************************/
@layer base {
    :root {
        --accent-light: #67e8f9; /* cyan-300 */
        --accent-dark: #67e8f9; /* cyan-300 */
        --text-light: #0f172a; /* slate-900 */  
        --text-dark: #e2e8f0; /* slate-200 */
        --text-dimmed-light: #64748b; /* slate-500 */
        --text-dimmed-dark: #64748b; /* slate-500 */ 

        --title-light: #fca5a5; /* red-300 */ 
        --title-dark: #fca5a5; /* red-300 */  

        --heading-light: #155e75; /* cyan-800 */
        --heading-dark: #0891b2; /* cyan-400 */
        --link-light: #155e75; /* cyan-800 */
        --link-dark: #67e8f9; /* cyan-300 */

        --body-light: #cbd5e1; /* slate-300 */
        --body-dark: #020617; /* gray-950 */ 

        --main-ring-light:  #4d7c0f; /* lime-700 */ 
        --main-ring-dark: #bef264; /* lime-300 */

        --bow-text-light: #4d7c0f; /* green-700 */
        --bow-text-dark: #bef264; /* lime-300 */ 
        --navi-ring-light: #64748b; /* slate-500 */
        --navi-ring-dark: #bef264; /* lime-300 */ 
        --navi-bg-light: black;  
        --navi-bg-dark: black;

        --debug-text-light: #f97316; /* orange-500 */
        --debug-text-dark: #f97316; /* orange-500 */
    }
}

/******************************************************************************/
/*
/* Containers
/*
/******************************************************************************/
body { @apply bg-[--body-light] dark:bg-[--body-dark]; }
#midships, #navi, #sidebar { @apply
    bg-[--body-light] dark:bg-[--body-dark]
    ring-2 ring-[--main-ring-light] dark:ring-[--main-ring-dark] rounded-lg; }

/******************************************************************************/
/*
/* Code Blocks
/*
/******************************************************************************/
pre {
    @apply bg-black rounded-lg p-2 text-xs;
  }
 /******************************************************************************/
/*
/* Text 
/*
/******************************************************************************/
p { @apply text-[--text-light] dark:text-[--text-dark]; }
p#bow { @apply text-[--bow-text-light] dark:text-[--bow-text-dark]; }
p#transom { @apply text-[--text-dimmed-light] dark:text-[--text-dimmed-dark]; }
p.dimmed { @apply text-[--text-dimmed-light] dark:text-[--text-dimmed-dark]; }
h1, title { @apply text-[--title-light] dark:text-[--title-dark]; }
h2, h2, h4 { @apply text-[--heading-light] dark:text-[--heading-dark]; }
/******************************************************************************/
/*
/* Text Links 
/*
/******************************************************************************/
a { @apply text-[--link-light] dark:text-[--link-dark]; }
a:hover, a:active, a:focus { @apply text-current dark:text-current font-bold; } 
/******************************************************************************/
/*
/* Icon Links 
/*
/******************************************************************************/
svg.stroke a { @apply stroke-[--link-light] dark:stroke-[--link-dark]; }
svg.stroke:hover a, svg.stroke:active a, svg.stroke:focus a { 
    @apply stroke-[--link-light] dark:stroke-[--link-dark] stroke-2; }
svg.fill a { @apply fill-[--link-light] dark:fill-[--link-dark]; }
svg.fill:hover a, svg.fill:active a, svg.fill:focus a { 
    @apply fill-[--link-light] dark:fill-[--link-dark]; }
mode-icon       svg { @apply stroke-[--main-ring-light] dark:stroke-[--main-ring-dark] 
    fill-none ; }
.social-icon    svg         { @apply fill-[--accent-light] dark:fill-[--accent-dark] stroke-none m-0 p-0; }
.mode-icon      svg:hover   { @apply stroke-current fill-none m-0 p-0; }
.social-icon    svg:hover   { @apply fill-current stroke-none m-0 p-0; }



